/coverage/
/node_modules/
dist
custom.js
*.js.map
.nyc_output
docs
lib
combinators
!src/combinators
params
!src/params
fp
!src/fp
object
!src/object
placeholder
!src/placeholder
utils
!src/utils
.rpt2_cache
.DS_Store
